*{margin: 0;padding: 0;}
header{
	display: flex;
 	height: 70px;
 	width: 100%;
 	background: black;
	justify-content: space-between;
	align-items: center;
}
ul{
	display: flex;
	justify-content: space-between;
	width: 33%;
}
header a{
	color: aliceblue;
	text-decoration: none;
}
main .slide {
	background-color: url("imagens/banner-principal.png");
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
    background-size: 50px;
}
main .slide h3{
    color: white;
    font-size: 40px;
}
